
@{
    ViewBag.Title = "Statistics";
}

<script src="http://d3js.org/d3.v3.min.js"></script>
<script src="~/Scripts/Statistics.js"></script>

<h2>Shaulis Blog Statistics</h2>

<button type="button" id="ShowPostsPerDay" class="statisticsQuestion">Posts per day</button>
<div id="ShowPostsPerDayResult" class="statisticsResult"></div>

<button type="button" id="ShowPostsAuthor" class="statisticsQuestion">Posts per author</button>
    <div id="ShowPostsAuthorResult" class="statisticsResult"></div>

    @section Scripts {
        <script type="text/JavaScript">

            $(document).ready(function (e) {
                $('#ShowPostsPerDay').click(function (e) { Statistics.ShowHideDetails(e.target.id); });
                $('#ShowPostsAuthor').click(function (e) { Statistics.ShowHideDetails(e.target.id); });
            });

        </script>
    }
